.bg-primary {
    background-color: #FB8945 !important;
}

a:active, a:focus, a:hover {
    color: #FB8945;
  }
  

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #FB8945;
}

a:active,
a:focus,
a:hover {
    color: #FB8945;
}

a:hover {
    color: #FB8945;
}

a {
    color: #FB8945;
}

.btn-primary {
    background-color: #FB8945;
    border-color: #FB8945;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover { 
    background-color: #FB8945;
    border-color: #FB8945;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #FB8945;
    border-color: #FB8945;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #FB8945;
    border-color: #FB8945;
}
